%link{:rel => "stylesheet", :type => "text/css", :href => "style.css"}
%link{:rel => "stylesheet", :type => "text/css", :href => "facebox.css"}

.container
  .top_nav.span12
    %p
      %span.title US Budget
      %span.show_instructions.hidden Show Instructions
      .summary.hidden
        %ul.yearly_summary
          %li.summary_year
          %li.summary_receipts
          %li.summary_expenses
          %li.summary_net

  .year_picker.span12
    %ul
      - (1980..2013).each do |y|
        %li.year= y.to_s

  .clear

  .instructions.span12

    %p.big What Is This For?

    %p
      The US Budget, arguably the most important document for understanding how our government functions, is completely innaccesible.

    %p
      Most people have never seen the US Budget, and don't know to look for it. For the small percentage of people who search and find the budget, they will either find a pdf or csv file that offers no way to analyze the raw data in a summarized and intuitive form.

    %p
      The goal of this project is to fix that, and educate people about how the US collects and spends money.

    %p.big What Can You Do With This?

    %p
      You can use this visualization to simply explore, or to find answers to questions you have about the budget. For example, check out how much the US spends on defense compared to at the height of the cold war. Also, see how much money we pay each year on government debt. Also, see how much money individuals contribute in taxes compared to corporations.

    %p.big Instructions

    %p
      Click on any year to see the budget for that year. You will see what is called at "Treemap Visualization." This visualization has lots of boxes, and the size of each box corresponds to the dollar amount spent on that budget item.
    %p
      For any item in the visualization, click once to see a graph of how that item has changed over time. Click twice to go to the next level. For example, double click the department of justice to see a new treemap of the bureaus that make up the department of justice. Then, double click again to see the line items that make up a bureau.
    %p
      If you want to see a list instead of the treemap, click toggle list right below the treemap to see a list of everything in the treemap.


  .backtrace.span12
    %ul
      %li.agency
      %li.bureau

  .chart_control.span12.hidden
    %ul.type_chooser
      %li.chooser.expense_chooser.active Expenses
      %li.chooser.receipts_chooser Receipts

    %ul.inflation_chooser
      %li.normal_currency.active Normal
      %li.inflation_adjusted Inflation Adjusted
    %br

  .clear
  #chart.span12

  .toggle_section.hidden
    %p Single click for a chart, double click for more details.
    %p.show_list Show List
    %p.hide_list.hidden Hide List

  %table.expenses.expense_table.hidden

  .footer.span12
    Copyright 2013 by
    %a{:href => 'http://www.solomonkahn.com'} Solomon Kahn
    %a{:href => 'http://www.twitter.com/solomonkahn'} @solomonkahn




%script{:type => "text/javascript", :src => "jquery-1.9.1.min.js"}
%script{:type => "text/javascript", :src => "d3.v3.min.js"}
%script{:type => "text/javascript", :src => "underscore-min.js"}
%script{:type => "text/javascript", :src => "facebox.js"}
%script{:type => "text/javascript", :src => "budget.js"}

