%link{:rel => "stylesheet", :type => "text/css", :href => "style.css"}
%link{:rel => "stylesheet", :type => "text/css", :href => "facebox.css"}

.container
  .top_nav.span12
    %p
      %span.big US Budget
      %span.show_instructions.hidden Show Instructions
      .summary.hidden
        %ul.yearly_summary
          %li.summary_year
          %li.summary_receipts
          %li.summary_expenses
          %li.summary_net

  .year_picker.span12
    %p
      - (1980..2013).each do |y|
        %span.year= y.to_s

  .clear

  .instructions.span12

    %p.big What Is This For?

    %p
      The US Budget, arguably the most important document for understanding how our government functions, is completely innaccesible.

    %p
      Most people have never seen the US Budget, and don't know to look for it. How can a democratic society function if the voters, who are ultimately responsible for how much money is spent and collected, don't have even the most basic facts about how much we spend and what it is spent on?

    %p
      For the small percentage of people who search and find the budget, they will either find a pdf or csv file that offers no way to analyze the raw data in a summarized and intuitive form.

    %p
      The goal of this project is to fix that, and educate people about how the US collects and spends money.

    %p.big What Can You Do With This?

    %p
      You can use this visualization to simply explore, or to find answers to questions you have about the budget. For example, if you were wondering whether the US spend more on defense now or at the height of the cold war, you could use this to answer the question. Perhaps you have heard many people saying that the country is in a too much debt. If you want to know how much that debt costs each year, you can find that information.

    %p
      The answers to these questions are actually not intuitive! On an inflation adjusted basis, we spend more money right now on defense than we did at the height of the cold war. Also, we spend less money on debt payments now than we did in the mid 1990's.

    %p.big How To Use This

    %p
      Click on any year to see the budget for that year. You will see what is called at "Treemap Visualization." This visualization has lots of boxes, and the size of each box corresponds to the dollar amount spent on that budget item.
    %p
      This visualization has 3 different levels of detail. At the top-most level, you will see the entire US Budget, made up of 214 different agencies. For example, one agency would be the department of justice. Within the department of Justice There are many bureaus, such as the FBI and the Federal Prison System. Then, within each bureau you can see information about that specific bureau.
    %p
      For any item in the visualization, click once to see a graph of how that item has changed over time. Click twice to go to the next level, for example, double click the department of justice to see a new treemap of the bureaus that make up the department of justice. Then, double click again to see the line items that make up a bureau.
    %p
      You can toggle either expenses, the money being spent, or receipts, the money that comes in. You can also see these numbers on either a regular or inflation adjusted basis.
    %p
      If you want to see a list instead of the treemap, just click toggle list right below the treemap to see a list of everything in the treemap.


  .backtrace.span12
    %ul
      %li.agency
      %li.bureau

  .chart_control.span12.hidden
    %ul.type_chooser
      %li.chooser.expense_chooser.active Expenses
      %li.chooser.receipts_chooser Receipts

    %ul.inflation_chooser
      %li.normal_currency.active Normal
      %li.inflation_adjusted Inflation Adjusted
    %br

  .clear
  #chart.span12

  %p.toggle_list.hidden Toggle List

  %table.expenses.expense_table.hidden

  .footer.span12
    Copyright 2013 by
    %a{:href => 'http://www.solomonkahn.com'} Solomon Kahn
    %a{:href => 'http://www.twitter.com/solomonkahn'} @solomonkahn




%script{:type => "text/javascript", :src => "jquery-1.9.1.min.js"}
%script{:type => "text/javascript", :src => "d3.v3.min.js"}
%script{:type => "text/javascript", :src => "underscore-min.js"}
%script{:type => "text/javascript", :src => "facebox.js"}
%script{:type => "text/javascript", :src => "budget.js"}

