%link{:rel => "stylesheet", :type => "text/css", :href => "style.css"}
%link{:rel => "stylesheet", :type => "text/css", :href => "facebox.css"}

.container
  .top_nav.span12
    %p
      %span.big US Budget
      %span - Click once for a chart, twice for more details

  .year_picker.span12
    %p
      - (1980..2013).each do |y|
        %span.year= y.to_s

  .clear
  .span12.summary.hidden
    %ul.yearly_summary
      %li.summary_year
      %li.summary_receipts
      %li.summary_expenses
      %li.summary_net

  .backtrace.span12
    %ul
      %li.agency
      %li.bureau

  .chart_control.span12.hidden
    %ul.type_chooser
      %li.chooser.expense_chooser.active Expenses
      %li.chooser.receipts_chooser Receipts

    %ul.inflation_chooser
      %li.normal_currency.active Normal
      %li.inflation_adjusted Inflation Adjusted
    %br

  .clear
  #chart.span12

  %p.toggle_list.hidden Toggle List

  %table.expenses.expense_table.hidden

  .footer.span12
    Copyright 2013 by
    %a{:href => 'http://www.solomonkahn.com'} Solomon Kahn
    %a{:href => 'http://www.twitter.com/solomonkahn'} @solomonkahn




%script{:type => "text/javascript", :src => "jquery-1.9.1.min.js"}
%script{:type => "text/javascript", :src => "d3.v3.min.js"}
%script{:type => "text/javascript", :src => "underscore-min.js"}
%script{:type => "text/javascript", :src => "facebox.js"}
%script{:type => "text/javascript", :src => "budget.js"}

