%link{:rel => "stylesheet", :type => "text/css", :href => "style.css"}
-#%link{:rel => "stylesheet", :type => "text/css", :href => "bootstrap.css"}

%div.container
  %div.top_nav
    %div
      %h2 US Budget

    %ul.breadcrumb
      %li.agency
      %li.bureau

  %div.year_picker
    - (1980..2013).each do |y|
      %p.year= y.to_s

  %div.yearly_summary
    %p.summary_receipts
    %p.summary_expenses
    %p.summary_net

  %div.type_chooser
    %ul.breadcrumb
      %li.chooser Expenses
      %li.chooser Receipts

  .inflation_chooser
    %ul
      %li Normal
      %li Inflation Adjusted

  %div#chart

  %div#area_graph

  %table.expenses.expense_table

    -#%ul.expense_list

%script{:type => "text/javascript", :src => "jquery-1.9.1.min.js"}
%script{:type => "text/javascript", :src => "d3.v3.min.js"}
%script{:type => "text/javascript", :src => "underscore-min.js"}
%script{:type => "text/javascript", :src => "budget.js"}

