%script{:type => "text/javascript", :src => "http://d3js.org/d3.v3.min.js"}
%script{:type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"}
%script{:type => "text/javascript", :src => "budget.js"}

%h2 US Budget

