.container {
  width: 940px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  color: #463E3F;
}

.span12 {
  width: 940px;
}

.year_picker {
  margin-left: -5px;
}

.year {
  padding: 5px;
  line-height: 24px;
  cursor: pointer;
}

#chart {
  margin: 10px 0 15px 0;
  padding: 10px 0;
  clear: both;
}

.area {
  fill: #0CD5BF;
}

.tooltip {
  background: white;
  font-size: 18px;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
  border-radius: 5px;
}

.active {
  background: #4E9CB5;
  color: white;
  padding: 5px;
  border-radius: 2px;
}

.hidden {
  display: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.chart_control {
  margin: 10px 0;
}

.type_chooser {
  float: left;
  cursor: pointer;
}

.inflation_chooser {
  float: right;
  cursor: pointer;
}

li {
  display: inline;
}

.clear {
  clear: both;
}

.summary_year {
  font-weight: bold;
}

.yearly_summary li {
  margin-right: 10px;
}

.footer {
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid black;
}

.big {
  font-size: 24px;
  font-weight: bold;
}

.instructions {
  height: 250px;
}

.instructions li {
  display: block;
  margin: 5px 0;
}

.toggle_list {
  cursor: pointer;
}